{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/liststyle.css' %}">
{% endblock style %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Ім'я</th>
      <th>Група</th>
      <th>Неділь потрібно</th>
      <th>Неділя навчання</th>
      <th>Потрібно годин</th>
      <th>Години в неделю</th>
      <th>Загальна кількість предметів</th>
      <th>Кількість закритих предметів</th>
      <th>Оплата за навчання</th>
    </tr>
  </thead>
  <tbody>
    {% for i in student %}
      <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.group }}</td>
        <td>{{ i.study_week_need }}</td>
        <td>{{ i.study_week }}</td>
        <td>{{ i.hour_need }}</td>
        <td>{{ i.hour_study_week }}</td>
        <td>{{ i.subject_need }}</td>
        <td>{{ i.count_subject }}</td>
        <td>{{ i.pay_for_study }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
