{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/personal.css' %}">
{% endblock style %}

{% block content %}
<main>
    {% for i in student %}
    <h2>Особистий кабінет студента</h2>
    <div class="info">
        <label>Ім'я:</label>
        <span>{{ i.name }}</span>
    </div>
    <div class="info">
        <label>Група:</label>
        <span>{{ i.group }}</span>
    </div>
    <div class="info">
        <label>Оплата:</label>
        {% if i.pay_for_study == True %}
        <span>+</span>
        {% else %}
        <span>-</span>
        {% endif %}
    </div>
    {% endfor %}
    <div class="info">
        <label>Статус студента(стипендія/відрахування):</label>
        <hr>
        <span>{{answer}}</span>
    </div>
</main>
{% endblock content %}
